<aside class="main-sidebar">
	<section id="sidebar" class="sidebar">
		<ul class="sidebar-menu">
			<li class="header">NAVIGATION</li>
			<li class="route" data-route="/">
				<a href="/">
					<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
			</li>
			<li class="route" data-route="/products">
				<a href="/products">
					<i class="fa fa-briefcase"></i> <span>Products</span>
				</a>
			</li>
		</ul>
	</section>
</aside>
