<aside class="main-sidebar">
	<section id="sidebar" class="sidebar">
		<ul class="sidebar-menu">
			<li class="header">NAVIGATION</li>
			<li class="route" data-route="/">
				<a href="/">
					<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
			</li>
			<li class="route" data-route="/products">
				<a href="/products">
					<i class="fa fa-briefcase"></i> <span>Products</span>
				</a>
			</li>
			<li class="route" data-route="/alerts">
				<a href="/alerts">
					<i class="fa fa-bell"></i> <span>Alerts</span>
					{{#if alertCount}}
					<small class="label pull-right bg-red">{{ alertCount }}</small>
					{{/if}}
				</a>
			</li>
			<li class="header">SETTINGS</li>
			<li class="route" data-route="/settings">
				<a href="/settings">
					<i class="fa fa-cog"></i> <span>Settings</span>
				</a>
			</li>
		</ul>
	</section>
</aside>
